<h1>10 Closest Stations</h1>
<% binding.pry %>
<% @stations.each do |station| %>
  <%= station.name %>
  <%= station.address %>
  <%= station.fuel_types %>
  <%= station.distance %>
  <%= station.access_times %>
<% end %>